---
import PageLayout from "../layouts/PageLayout.astro"
import PageMeta from "../components/PageMeta.astro"
import { SITE_TITLE } from "../config"

export const prerender = true
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE}`} slot="meta" />
  <section slot="main" class="grid gap-5">
    <div id="experience">
      <h1><b>Professional Experience</b></h1>

      <div id="experience-content" class="grid gap-4">
        <section>
          <div class="flex justify-between">
            <h2>
              <a href="https://www.rockstargames.com/" target="_blank"
                >Rockstar North</a
              >
            </h2>
            <small>2020 - 2024</small>
          </div>
          <div>
            <p class="mb-3">
              Designed and implemented player-facing systems. Created ergonomic
              and scalable systems that allowed content to be developed at a
              rapid pace, while maintaining a high level of quality.
              Continuously liaised with engine programmers, pen and paper
              designers, and production to make sure their requirements were
              met.
            </p>
          </div>
          <div>
            <h2>Responsibilities / Key Experiences</h2>
            <ul>
              <li>
                Worked on interop layer between engine code and design systems.
              </li>
              <li>
                Delivering scalable player-facing systems that enabled designers
                to produce high quality content.
              </li>
              <li>Optimising systems to meet performance criteria.</li>
              <li>
                Maintaing and actioning automated code quality systems to keep
                the quality of code produced high.
              </li>
              <li>
                Inter-personal soft skills and maintaining relationships /
                liasing with multiple departments to collaborate on a shared
                goal.
              </li>
            </ul>
          </div>
        </section>
        <section>
          <div class="flex justify-between">
            <h2>
              <a href="https://www.motorolasolutions.com" target="_blank"
                >Motorola Solutions</a
              >
            </h2>
            <small>2019 - 2020</small>
          </div>
          <div>
            <p class="mb-3">
              Maintained Pronto software for Police Scotland, implemented an
              integration between Pronto and a third party vehicle accidents
              service.
            </p>
          </div>
          <div>
            <h2>Responsibilities / Key Experiences</h2>
            <ul>
              <li>
                Maintaining legacy code while providing new features to front
                line officers.
              </li>
              <li>
                Developed a new backend to connect pronto to a vehicle incident
                record service.
              </li>
              <li>
                Developing automated tests using a custom language to maintain
                and ensure mission critical software is error free.
              </li>
              <li>
                Attending meetings with Police Scotland to translate the needs
                of the user into actionable work blocks for our small team.
              </li>
            </ul>
          </div>
        </section>
      </div>

      <br />
      <br />

      <h1><b>Education</b></h1>
      <div id="education-content" class="grid gap-4">
        <section>
          <h3><i>Master of Science with Distinction (MSc)</i></h3>
          <div class="flex justify-between">
            <h2>Advanced Computer Science</h2>
            <small>2018 - 2019</small>
          </div>
          <small>University of Strathclyde</small>
          <ul>
            <li>
              Trained a wide variety of AI / ML algorithms to perform tasks
              across various domains, including:<ul>
                <li>
                  MNIST handwritten character recognition using a convolutional
                  neural network.<li></li>
                  <li>
                    Automated stock market trading using a genetic algorithm.
                  </li>
                  <li>
                    Masters project on music generation using a recurrent neural
                    network.
                  </li>
                </li>
              </ul>
              <li>
                Introduced to a wide variety of software architecture and design
                patterns that would go on to be used in both personal and
                professional experiences, examples include Proxies, Factories,
                Dependency Injection, Handles, Wrappers etc.
              </li>
              <li>
                Wrote a parser for java which could detect bad practice ("code
                smells") and report these warnings to the user.
              </li>
            </li>
          </ul>
          <div id="education-content" class="grid gap-4">
            <section>
              <h3><i>First Class Honours (BSc)</i></h3>
              <div class="flex justify-between">
                <h2>Audio Technology & Multimedia</h2>
                <small>2013 - 2017</small>
              </div>
              <small>Glasgow Caledonian University</small>
              <ul>
                <li>
                  Developed a system in Unity that procedurally generated an
                  environment and soundscape using procedural content
                  generation.
                </li>
                <li>
                  Developed a simple game with a complex soundscape using FMOD.
                </li>
                <li>Developed a C++ VST Plugin using the JUCE framework.</li>
                <li>
                  Signal analysis and synthesis using Max MSP visual scripting
                  framework.
                </li>
              </ul>
            </section>
          </div>
        </section>
      </div>
    </div>
  </section>

  <style>
    h1 {
      font-size: 1.25rem;
    }
    li,
    p {
      font-size: 0.85rem;
    }
  </style>
</PageLayout>
