---
import PageLayout from "../layouts/PageLayout.astro"
import PageMeta from "../components/PageMeta.astro"
import { SITE_TITLE } from "../config"

export const prerender = true
---

<PageLayout>
  <PageMeta title={`${SITE_TITLE}`} slot="meta" />
  <section slot="main" class="grid gap-5">
    <div id="experience">
      <h1><b>Professional Experience</b></h1>

      <div id="experience-content" class="grid gap-4">
        <section>
          <div class="flex justify-between">
            <h2>
              <a href="https://www.rockstargames.com/" target="_blank">Rockstar North</a>
            </h2>
            <small>2020 - 2024</small>
          </div>
          <div>
            <p class="mb-3">
              Designed and implemented player-facing systems and liased with 
              engine programmers / pen and paper designers and production to create ergonomic and scalable 
              systems that allowed content to be developed at a rapid pace, 
              while maintaining a high level of quality
            </p>
          </div>
          <div>
            <h2>Responsibilities / Key Experiences</h2>
            <ul>
              <li>
                <b>Performance analysis / Optimisation</b>
              </li>
              <li>
                <b>Architectural Design Patterns</b>
              </li>
              <li>
                <b>Code Quality Automation</b>
              </li>
              <li>
                <b>Soft Skills</b>
              </li>
            </ul>
          </div>
        </section>
        <section>
          <div class="flex justify-between">
            <h2>
              <a href="https://www.rockstargames.com/" target="_blank">Motorola Solutions</a>
            </h2>
            <small>2019 - 2020</small>
          </div>
          <div>
            <p class="mb-3">
              Maintained Pronto software for Police Scotland, implemented an integration between Pronto and a third party vehicle accidents service.
            </p>
          </div>
          <div>
            <h2>Responsibilities / Key Experiences</h2>
            <ul>
              <li>
                <b>Maintaining Legacy Code</b>
              </li>
              <li>
                <b>Automated Test Development</b>
              </li>
            </ul>
          </div>
        </section>
      </div>

      <br/>
      <br/>

      <h1><b>Education</b></h1>
      <div id="education-content" class="grid gap-4">
        <section>
          <h3><i>Master of Science with Distinction (MSc)</i></h3>
          <div class="flex justify-between">
            <h2>Advanced Computer Science</h2>
            <small>2018 - 2019</small>
          </div>
          <small>University of Strathclyde</small>
          <ul>
            <li>Trained a wide variety of AI / ML algorithms to perform tasks across various domains,
              including:<ul>
                <li>MNIST handwritten character recognition using a convolutional neural network.<li/>
                <li>Automated stock market trading using a genetic algorithm.</li>
                <li>Masters project on music generation using a recurrent neural network.</li>
              </ul>
            </li>
            <li>Introduced to a wide variety of software architecture and design patterns that would go on to be used in both personal and professional experiences, examples include Proxies, Factories, Dependency Injection, Handles, Wrappers etc.</li>
            <li>Wrote a parser for java which could detect bad practice ("code smells") and report these warnings to the user.</li>
          </ul>
        </section>
        <div id="education-content" class="grid gap-4">
          <section>
            <h3><i>First Class Honours (BSc)</i></h3>
            <div class="flex justify-between">
              <h2>Audio Technology & Multimedia</h2>
              <small>2013 - 2017</small>
            </div>
            <small>Glasgow Caledonian University</small>
            <ul>
              <li>Developed a system in Unity that procedurally generated an environment and soundscape using procedural content generation.</li>
              <li>Developed a simple game with a complex soundscape using FMOD.</li>
              <li>Developed a C++ VST Plugin using the JUCE framework.</li>
              <li>Signal analysis and synthesis using Max MSP visual scripting framework.</li>
            </ul>
                
          </section>
      </div>

      </div>
    </div>
  </section>
</PageLayout>

<style>
  h1 {
    font-size: 1.25rem;
  }
  li,
  p {
    font-size: 0.85rem;
  }
</style>
